body {
  background-image: url("/public/background.png");
  background-size: cover; /* Ensures the image scales to cover the window */
  background-repeat: no-repeat; /* Prevents the image from repeating */
  background-position: center; /* Centers the image in the window */
  height: 100vh; /* Makes sure the body takes up the full viewport height */
  margin: 0;
}
.container-top {
  display: grid;
  place-items: center; /* Center both horizontally and vertically */
  position:relative;
  grid-template-columns: 1fr 1fr; /* Two columns of equal width */
  gap: 10px; /* Space between rows and columns */
  justify-content: center; /* Center grid horizontally */
  align-items: center; /* Center grid items vertically */
  transform: translateX(-10px);
}
.container-login_section {
  display: flex;
  grid-template-columns: 1fr 1fr; /* Two columns of equal width */
  gap: 10px; /* Space between rows and columns */
  justify-content: center; /* Center grid horizontally */
  align-items: center; /* Center grid items vertically */
}
.ucf-container {
  position: fixed;
  color: white; /* Change text color */
  font-size: 24px; /* Adjust font size */
  font-family: Arial, Helvetica, sans-serif, sans-serif; /* Use a readable font */
  margin-bottom: 20px; /* Add some space below the text */ 
  transform: translateX(20px) translateY(200px);
}
.vista_text {

  position: fixed;
  background-color: #28e8e227;
  color: rgb(255, 255, 255);
  font-size: 24px; /* Adjust font size */
  font-family: Arial, Helvetica, sans-serif, sans-serif; /* Use a readable font */
  margin-bottom: 20px; /* Add some space below the text */ 
  transform: translateX(20px) translateY(200px);
}

.description_text {

 
  
  color: rgb(0, 0, 0);
  font-size: 24px; /* Adjust font size */
  font-family: Arial, Helvetica, sans-serif, sans-serif; /* Use a readable font */
  margin-bottom: 20px; /* Add some space below the text */ 
  transform: translateX(-500px) translateY(350px);
}


.fail_connect_text {
  position:fixed;
  color: #000000; /* Change text color */
  font-size: 24px; /* Adjust font size */
  font-family: Arial, Helvetica, sans-serif, sans-serif; /* Use a readable font */
  margin-bottom: 20px; /* Add some space below the text */ 
  transform: translateX(50px) translateY(60px);
}

.success_connect_text {
  position:fixed;
  color: #000000; /* Change text color */
  font-size: 24px; /* Adjust font size */
  font-family: Arial, Helvetica, sans-serif, sans-serif; /* Use a readable font */
  margin-bottom: 20px; /* Add some space below the text */ 
  transform: translateX(50px) translateY(60px);
}
.login_button {
  position: fixed;
  cursor: pointer;
  transform: translateX(400px) translateY(30px);
}
.login_text {
  position:absolute;
  background-color: #28e8e227;
  color: rgb(255, 255, 255);
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transform: translateY(430px) translateX(15px);
}
.ssid_box{
  position:absolute;
  justify-content: center;
  color: white; /* Change text color */
  font-size: 24px; /* Adjust font size */
  font-family: Arial, Helvetica, sans-serif, sans-serif; /* Use a readable font */
  margin-bottom: 20px; /* Add some space below the text */
  transform: translateX(390px) translateY(10px);
}

.ssid_text{
  color: white; /* Change text color */
  font-size: 18px; /* Adjust font size */
  font-family: Arial, Helvetica, sans-serif, sans-serif; /* Use a readable font */
  margin-bottom: 20px; /* Add some space below the text */
  transform: translateY(-30px) translateX(220px);


}

.dialogue_text{
  position:absolute;
  
}
.password_text{
  color: white; /* Change text color */
  font-size: 18px; /* Adjust font size */
  font-family: Arial, Helvetica, sans-serif, sans-serif; /* Use a readable font */
  margin-bottom: 20px; /* Add some space below the text */
  transform: translateY(-30px) translateX(370px);
}
button:hover {
  background-color: rgb(200, 200, 219);
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
button {
  background-color: rgb(160, 160, 160);
  transition: background-color 0.3s ease;
}

.animated-box {
  animation: fadeIn 2s ease-in-out;
}